<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (ViewData["Title"] != null) {
        <title>@ViewData["Title"] - Ninja Heaven</title>
    }
    else 
    {
        <title>Ninja Heaven</title>
    }
    <link rel="icon" href="/logo.ico" type="image/x-icon" / >
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/678518952b.js" crossorigin="anonymous"></script>
    <style>
        .logo {
            width: 30px;
        }

        .alert {
            display: inline;
            position: absolute;
            top: 80px;
            right: 16px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <img class="mx-1 logo" src="https://dotown.maeda-design-room.net/wp-content/uploads/2022/01/omoro_alien_03.png" alt="logo" />
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Ninja Heaven</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (TempData["Role"] == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-secondary" asp-controller="User" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" asp-controller="User" asp-action="SignUp">Sign Up</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-secondary" asp-controller="User" asp-action="Info">Info</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" asp-controller="UserEquipment" asp-action="Index">Storage</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" asp-controller="UserEquipment" asp-action="Shop">Shop</a>
                            </li>

                            if ((string)TempData["Role"] == "Admin")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-danger" asp-controller="User" asp-action="Index">User</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-danger" asp-controller="Equipment" asp-action="Index">Equipment</a>
                                </li>
                            }

                            <li class="nav-item">
                                <a class="nav-link text-secondary" asp-controller="User" asp-action="LogOut">Log Out</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@TempData["Message"]</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>@TempData["Error"]</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Ninja Heaven
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
